<mat-toolbar class="toolbar" fxLayoutAlign="space-between">
  <section fxLayout="row" fxLayoutGap="10px" class="logo-section">
    <!--LOGO -->
    <button mat-icon-button class="logo" aria-label="App Logo">
      <mat-icon>home</mat-icon>
    </button>
    <!-- APP NAME -->
    <div class="app-name">Gallery</div>
  </section>
  <section fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="10px" class="nav-section">
    <!-- Home -->
    <button mat-icon-button class="home-btn-icon" aria-label="Home icon-button" (click)="navigate('/home')">
      <mat-icon>home</mat-icon>
    </button>
    <!-- Gallery -->
    <button mat-flat-button class="gallery-btn" aria-label="Navigates to Gallery" (click)="navigate('/gallery')">
      <label>Gallery</label>
    </button>
    <!-- About -->
    <button mat-flat-button class="about-btn" aria-label="Navigates to About" (click)="navigate('/about')">
      <label>About</label>
    </button>
    <!-- Login -->
    <button mat-button [matMenuTriggerFor]="userInfo">Kamalesh</button>
    <mat-menu #userInfo="matMenu">
      <button mat-menu-item>Logout</button>
    </mat-menu>
  </section>
</mat-toolbar>

