.app-name {
  padding-top: 5px;
}

.toolbar {
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
}

.logo {
  background-color: #fff;
  border-radius: 25px;
}

.user-name {
  min-width: 100px;
  max-width: 200px;
  background-color: #efefef;
  color: black;
}

.nav-btn {
  background-color: #1976d2;
  color: white;
  font-size: 16px;
}

.active-route {
  background-color: black;
  color: white;
}
