<mat-toolbar class="toolbar" fxLayoutAlign="space-between">
  <section fxLayout="row" fxFlex="300px" fxLayoutGap="10px" class="logo-section">
    <!--LOGO -->
    <img class="logo" src="../../assets/logos/app-logo.jpg" alt="thumbnail" />
    <!-- APP NAME -->
    <div class="app-name"><em>Bikes Gallery</em></div>
  </section>
  <section fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="10px" class="nav-section">
    <!-- Home -->
    <button
      mat-icon-button
      class="home-btn-icon nav-btn"
      aria-label="Home icon-button"
      [routerLink]="['/home']"
      [routerLinkActive]="['active-route']"
      >
      <mat-icon>home</mat-icon>
    </button>
    <!-- Gallery -->
    <ng-container *ngIf="user">
      <button
        mat-flat-button
        class="gallery-btn nav-btn"
        aria-label="Navigates to Gallery"
        [routerLink]="['/gallery']"
        [routerLinkActive]="['active-route']">
        <label>Gallery</label>
      </button>
    </ng-container>
    <!-- About -->
    <button
      mat-flat-button
      class="about-btn nav-btn"
      aria-label="Navigates to About"
      [routerLink]="['/about']"
      [routerLinkActive]="['active-route']">
      <label>About</label>
    </button>

    <!-- Login -->
    <ng-container *ngIf="!user else displayUser">
      <button
        mat-flat-button
        class="login-btn nav-btn"
        aria-label="Navigates to Login"
        (click)="login()">
        <label>Login</label>
      </button>
    </ng-container>

    <!-- Display for Login User -->
    <ng-template #displayUser>
      <button class="user-name" mat-button [matMenuTriggerFor]="userInfo">{{user?.name | titlecase}}</button>
      <mat-menu #userInfo="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </ng-template>

  </section>
</mat-toolbar>

