.card {
    min-width: 300px;
    max-width: 300px;
    margin: 20px 0px;
  }

.header-image {
    background-size: cover;
}

::ng-deep .mat-card-image {
  width: 300px !important;
  height: 200px !important;
}

::ng-deep .action {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.card-actions {
  bottom: 0;
}

.login-section {
  background-color: #efefef;
  margin: 0px auto;
  .login-warning {
    border: 1px solid #efefef;
    text-align: center;
    padding: 15px;
    width: 600px;
    .info-text {
      padding-top: 5px;
    }
  }
}

.info-icon {
  color: blue;
}
